*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.galery{
    display: flex;
    justify-content: center;
    background-color: #006241;
    padding: 40px 0px;
}
.galery__container-img{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 15px;
}
.galery__img{
    width: 35%;
    /* padding: 10px; */
}
@media(max-width: 768px){
    .galery__container-img{
        flex-direction: column;
    }
    .galery__container-img{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .galery__img{
        width: 100%;
        padding: 0 0;
    }
}